{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jest/globals": true
    },
    "rules": {
        "require-jsdoc":"off",
        "comma-dangle":"off",
        "linebreak-style":"off",
        "indent":"off",
        "no-extra-semi":"off",
        "no-trailing-spaces":"off",
        "eol-last":"off",
        "object-curly-spacing":"off",
        "no-unused-vars":"warn",
        "padded-blocks":"off",
        "operator-linebreak":"off",
        "no-debugger":"off",
        "max-len":["warn",{"code":90}]
        // "quotes":["off", "double"]
    },
    "plugins": ["jest"],
    "extends": [
        "eslint:recommended", "google"
    ]
}